---
import LandingHeader from "../components/LandingHeader.astro";
import Footer from "../components/Footer.astro";
import Layoutingdn from "../layouts/Layoutingdn.astro";
import IngDnInfo from "../components/IngDnInfo.astro";

---

<body class="bg-green-950 min-h-screen pb32">
  <Layoutingdn title="UTZAC - Campus Pinos">
    <LandingHeader />

    <IngDnInfo />

    <Footer />
   

    
  </Layoutingdn>
</body>


