---
import LandingHeader from "../components/LandingHeader.astro";
import Footer from "../components/Footer.astro";
import Layoutingtic from "../layouts/Layoutingtic.astro";
import NoSection from "../components/NoSection.astro";
import IngTicInfo from "../components/IngTicInfo.astro";

---

<body class="bg-green-950 min-h-screen pb32">
  <Layoutingtic title="UTZAC - Campus Pinos">
    <LandingHeader />

    <IngTicInfo />

    <Footer />
   

    
  </Layoutingtic>
</body>


