---
import LandingHeader from "../components/LandingHeader.astro";
import Footer from "../components/Footer.astro";
import LayoutNosotros from "../layouts/LayoutNosotros.astro";
import NoSection from "../components/NoSection.astro";

---

<body class="bg-green-950 min-h-screen pb32">
  <LayoutNosotros title="UTZAC - Campus Pinos">
    <LandingHeader />

    <NoSection />

    <Footer />
   

    
  </LayoutNosotros>
</body>


