---
import LandingHeader from "../components/LandingHeader.astro";
import Footer from "../components/Footer.astro";
import PpSection from "../components/PpSection.astro";
import LayoutPP from "../layouts/LayoutPP.astro";

---

<body class="bg-green-950 min-h-screen pb32">
  <LayoutPP title="UTZAC - Politica de Privacidad">
    <LandingHeader />

    <PpSection />

    <Footer />
   

    
  </LayoutPP>
</body>


