---
import LandingHeader from "../components/LandingHeader.astro";
import Footer from "../components/Footer.astro";
import Layouttsudn from "../layouts/Layouttsudn.astro";
import TsuDnInfo from "../components/TsuDnInfo.astro";

---

<body class="bg-green-950 min-h-screen pb32">
  <Layouttsudn title="UTZAC - Campus Pinos">
    <LandingHeader />

    <TsuDnInfo />

    <Footer />
   

    
  </Layouttsudn>
</body>


