---
import LandingHeader from "../components/LandingHeader.astro";
import Footer from "../components/Footer.astro";
import Layouttsutic from "../layouts/Layouttsutic.astro";
import NoSection from "../components/NoSection.astro";
import TsuTicInfo from "../components/TsuTicInfo.astro";

---

<body class="bg-green-950 min-h-screen pb32">


  <Layouttsutic title="UTZAC - Campus Pinos">
    <LandingHeader />

    <TsuTicInfo />

   
    <Footer />
   

    
  </Layouttsutic>
</body>


