<section class="  bg-black h-screen w-screen text-center overflow-hidden relative">

    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class="text-white pt-40 text-4xl font-medium">Bienvenido a Utzac</h2><br>
            <p class="text-white text-2xl ">Formamos líderes del mañana con una educación de calidad <br> y valores arraigados en nuestra comunidad universitaria.</p>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="/nosotros">Descubre mas sobre nosotros</a>
            </div>
        </footer>
    </div>


    <div class="absolute top-0 bottom-0 h-full z-10">
        <img class="brightness-75 h-full w-screen object-center object-cover " src="../../public/12.avif" alt="">
    </div>
</section>