---
import Logo from "./Logo.astro";
---

<main
  class="max-w-3xl px-4 m-auto dark:text-white z-30 h-full flex flex-col overflow-hidden relative pt-40 font-medium text-justify"
>
  <h1
    class="text-4xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >Desarrollo de Negocios e Innovación Empresarial
  </h1>
  
  <hr class="mb-10 bg-slate-400" />

  <h1
    class="text-2xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Competencias profesionales desarrolladas
  </h1>

  <p class="dark:text-slate-400 mb-3">
    1. Apoyar el desarrollo empresarial mediante la optimización del capital financiero y humano, para la consolidación de la organización.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      1.1. Determinar las estrategias de dirección de capital humano con técnicas especializadas para asegurar el logro de los objetivos de la organización.
    </li>
    <li>
      1.2. Diseñar planes financieros considerando el entorno económico y las capacidades de la empresa para establecer los lineamientos necesarios para el crecimiento de la misma
    </li>
    <li>
      1.3. Diseñar procesos productivos y administrativos para mejorar la eficiencia y la eficacia de la organización a través de sistemas de gestión y control.
    </li>
  </ul>

  <p class="dark:text-slate-400 mb-3">
    2. Diseñar planes comerciales acordes a las capacidades de la organización para mejorar su competitividad en el mercado.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      2.1. Formular los planes y programas estratégicos de ventas para garantizar el incremento de las utilidades a través del fortalecimiento de la relación con sus clientes.
    </li>
    <li>
      2.2. Integrar sistemas y procedimientos estratégicos de compras que faciliten la operación corporativa, mediante el uso eficiente de sus recursos y una buena relación y desarrollo con sus proveedores.
    </li>
    <li>
      2.3. Evaluar la capacidad de la organización para incursionar en nuevos negocios mediante un análisis de los recursos de la empresa para establecer estrategias con una visión global que fortalezcan su posición competitiva.
    </li>
  </ul>

  <h1
    class="text-sl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    ESCENARIOS DE ACTUACIÓN
  </h1>

  <p class="dark:text-slate-400 mb-3">
    El Ingeniero en Desarrollo de Negocios e Innovación Empresarial podrá desenvolverse en:
  </p>
  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      Empresas del sector industrial
    </li>
    <li>Organismos financieros</li>
    <li>Organizaciones no gubernamentales. .</li>
    <li>Agencias de publicidad e investigación de mercado</li>
  </ul>

  <h1
    class="text-sl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    OCUPACIONES PROFESIONALES
  </h1>

  <p class="dark:text-slate-400 mb-3">
    El Ingeniero en Desarrollo de Negocios e Innovación Empresarial podrá desempeñarse como director, subdirector, gerente, subgerente, jefe de departamento en las áreas:
  </p>
  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>Mercadotecnia</li>
    <li>Publicidad</li>
    <li>
      Relaciones públicas
    </li>
    <li>Capital humano</li>
    <li>Administración y finanzas</li>
    <li>Logística</li>
    <li>Distribución</li>
  </ul>

  <img
    class="my-3 rounded-lg mb-10 h-auto max-w-ful"
    src="../../public/programaingdn.avif"
    alt=""
  />
</main>
