---
import Logo from "./Logo.astro";
---

<main
  class="max-w-3xl px-4 m-auto dark:text-white z-30 h-full flex flex-col overflow-hidden relative pt-40 font-medium text-justify"
>
  <h1
    class="text-4xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Ingeniería en TICS
  </h1>

  <hr class="mb-10 bg-slate-400" />

  <h1
    class="text-2xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Competencias profesionales desarrolladas
  </h1>

  <p class="dark:text-slate-400 mb-3">
    1.Dirigir proyectos de tecnologías de información y comunicación, para
    contribuir a la productividad y logro de los objetivos estratégicos de las
    organizaciones utilizando las metodologías apropiadas.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      1.1. Formular proyectos de tecnologías de información y comunicación, mediante procesos estándares y modelos de calidad para contribuir con el logro de los objetivos estratégicos de las organizaciones.
    </li>
    <li>
      1.2. Planear proyectos de tecnologías de la información y comunicación para la implementación eficaz de soluciones, empleando los recursos disponibles en la organización.
    </li>
    <li>
      1.3. Construir el proyecto de tecnologías de la información y comunicación empleando estándares y modelos de calidad para contribuir en la competitividad de las organizaciones.
    </li>
    <li>
      1.4 Dirigir, el proceso de implementación de proyectos de tecnologías de información y comunicación, mediante su correcta ejecución para alcanzar las metas y objetivos empleando habilidades gerenciales.
    </li>
  </ul>

  <p class="dark:text-slate-400 mb-3">
    2. Evaluar sistemas de tecnologías de información y comunicación para establecer acciones de mejora e innovación en las organizaciones mediante el uso de metodologías para auditoría.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      2.1 Diagnosticar el sistema de tecnologías de información y comunicación, mediante auditorías y metodologías basadas en estándares para identificar las condiciones actuales.
    </li>
    <li>
      2.2 Proponer la implementación de nuevas tecnologías, para atender áreas de oportunidad e innovación en las organizaciones mediante la evaluación de las tecnologías existentes en el mercado.
    </li>
  </ul>

  <h1
    class="text-sl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    ESCENARIOS DE ACTUACIÓN
  </h1>

  <p class="dark:text-slate-400 mb-3">
    El ingeniero en Tecnologías de la Información y Comunicación podrá desenvolverse en:
  </p>
  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>En los sectores privado, público y social, en las diferentes ramas productivas que demanden servicios de Tecnologías de la Información.</li>
    <li>En forma independiente mediante la integración de empresas orientadas al desarrollo y consultoría de bienes y servicios.</li>
    
  </ul>

  <h1
    class="text-sl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    OCUPACIONES PROFESIONALES
  </h1>

  <p class="dark:text-slate-400 mb-3">
    El ingeniero en Tecnologías de la Información y Comunicación podrá desempeñarse como:
  </p>
  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>Ejecutivo integrador de tecnologías de vanguardia para optimizar la operación de industrias y empresas.</li>
    <li>Diseñador de sistemas de información.</li>
    <li>Administrador de proyectos y servicios de TIC.</li>
    <li>Director/Gerente de Tecnologías de Información y Comunicación.</li>
  </ul>

  <img
    class="my-3 rounded-lg mb-10 h-auto max-w-ful"
    src="../../public/programaingtic.avif.avif"
    alt=""
  />
</main>
