---

import Logo from "./Logo.astro";

---


<header class="py-5 px-8 flex items-center fixed top-0 w-full justify-between z-40 text-white ">

    <div class="flex flex-grow basis-0">
        <a href="/">
            <Logo />
        </a>
    </div>

<!-- Navegador Principal -->
    <nav>
       <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
           <li><a class="hover:rounded  hover:border-white hover:bg-white hover:text-black transition-colors" href="/">Inicio</a></li>
           <li><a class="hover:rounded  hover:border-white hover:bg-white hover:text-black transition-colors" href="/nosotros">Nosotros</a></li>
           <li><a class="hover:rounded  hover:border-white hover:bg-white hover:text-black transition-colors" href="/carreras">TSU</a></li>

           <li><a class="hover:rounded  hover:border-white hover:bg-white hover:text-black transition-colors" href="/ingenierias">Ingenierias</a></li>
       </ul>
    </nav>

<!-- Navegador de soporte -->
    <nav class="flex flex-grow basis-0 justify-end">
       <ul class="flex text-sm  [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
           <li><a class="hover:rounded  hover:border-white hover:bg-white hover:text-black transition-colors" href="/pp">Politica de Privacidad</a></li>
       </ul>
    </nav>

   

 
   </header>


   


   


   

    