---
import Logo from "./Logo.astro";
---

<main
  class="max-w-3xl px-4 m-auto dark:text-white z-30 h-full flex flex-col overflow-hidden relative pt-40 font-medium text-justify"
>
  <h1
    class="text-4xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Historia y Filosofía de Calidad
  </h1>
  <hr class="mb-3 bg-slate-400" />
  <p class="mb-3 dark:text-slate-400">
    En el año de 1989, la Secretaría de Educación Pública puso en marcha el
    programa de Evaluación y Mejoramiento de la Educación Superior,
    emprendiendo, además estudios sobre nuevas opciones de educación superior.
  </p>
  <p class="mb-3 dark:text-slate-400">
    Así mismo, se analizaron las experiencias de algunos países con un
    crecimiento económico mayor, entre ellos Estados Unidos de América, Francia,
    Japón, Alemania y Gran Bretaña.
  </p>
  <p class="mb-3 dark:text-slate-400">
    Se encontró que la modalidad de educación superior de los Institutos
    Universitarios de Tecnología franceses eran los más adecuados, para
    adaptarlos a México.
  </p>
  <p class="mb-3 dark:text-slate-400">
    En tal virtud y considerando fundamentalmente la situación de la educación
    superior en México, así como los aspectos socioeconómicos, laborales y de
    expectativas educativas en varias regiones del país, se acordó el
    establecimiento de un nuevo modelo educativo a través de las “Universidades
    Tecnológicas”, el cual, una vez concluidos los estudios de factibilidad
    correspondientes, se determinó, llevarla a la práctica en los estados de
    Aguascalientes, México e Hidalgo, con la puesta en marcha de una Institución
    de este tipo en cada uno de ellos, en el año 1991.
  </p>
  <p class="mb-3 dark:text-slate-400">
    El modelo Académico del Sistema de Universidades Tecnológicas demanda una
    revisión periódica de los contenidos de sus programas que garantice la
    pertinencia de los mismos, es decir, que correspondan a las necesidades.
  </p>
  <p class="mb-3 dark:text-slate-400">
    La Universidad Tecnológica del Estado de Zacatecas, es fundada en el año de
    1998, al no contar aún con instalaciones propias inicia sus clases en la
    Universidad Pedagógica Nacional (UPN) con una matrícula inicial de 268
    alumnos. Y es en el mes de marzo de 1999 cuando estrena su propio edificio
    en Guadalupe, Zacatecas.
  </p>
  <p class="dark:text-slate-400">
    A la fecha, la universidad cuenta con una matrícula histórica jamás obtenida
    de 1,626 alumnos de los 7 programas educativos que ofrece en los niveles de
    Técnico Superior Universitario e Ingeniería.
  </p>

  <img
    class="h-auto max-w-lg mx-auto my-3 rounded-lg mb-10"
    src="../../public/ingtic.webp"
    alt=""
  />

  <h1
    class="text-xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Mision
  </h1>
  <p class="dark:text-slate-400 mb-3">
    A la fecha, la universidad cuenta con una matrícula histórica jamás obtenida
    de 1,626 alumnos de los 7 programas educativos que ofrece en los niveles de
    Técnico Superior Universitario e Ingeniería.
  </p>






  <h1
    class="text-xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Visión
  </h1>
  <p class="dark:text-slate-400 mb-3">
    Ser una Universidad con reconocimiento Social por la Calidad y pertinencia de sus programas educativos que contribuyen con la innovación y la investigación para el desarrollo sustentable y sostenido en el Estado, en México y el Mundo.
  </p>






  <h1
    class="text-xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Valores
  </h1>
  <p class="dark:text-slate-400 mb-5">
    <strong>COMPROMISO:</strong> Convicción en cada integrante de la Comunidad Universitaria para cumplir con sus responsabilidades.
    <br>
    <br>

    <strong>RESPONSABILIDAD:</strong> Capacidad existente en los integrantes de la Comunidad Universitaria, para reconocer y aceptar las consecuencias de un hecho realizado libremente y cumplir con las obligaciones en tiempo, calidad y forma.
    <br>
    <br>
    
    <strong>SERVICIO:</strong> Prestación humana que se ofrece en beneficio de los demás, potenciando capacidades y habilidades de manera positiva.
    <br>
    <br>
    
    <strong>RESPETO:</strong> Ser congruente y tolerantes, a favor de las valías de nosotros mismos y del entorno, consistentes de las diferentes maneras de pensar, actuar y sentir de los demás.
    <br>
    <br>
  </p>



  <h1
    class="text-xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Politica de Calidad
  </h1>
  <p class="dark:text-slate-400 mb-5">
    Cumplir con la formación integral por competencias de los estudiantes de la Universidad Tecnológica del Estado de Zacatecas con Calidad, Programas de Estudio y Cuerpos Académicos reconocidos, acreditados y procesos administrativos certificados.
  </p>

  <h1
  class="text-xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
>
  Politica Ambiental
</h1>
<p class="dark:text-slate-400 mb-5">
  Cumplir con la Formación Integral de los Estudiantes de la Universidad Tecnológica del Estado de Zacatecas orientados a la conciencia ambiental respetando estándares nacionales e internacionales que apoyan la sustentabilidad.
</p>


<h1
  class="text-xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
>
  Politica de Seguridad y Salud en el Trabajo
</h1>
<p class="dark:text-slate-400 mb-5">
  Para la Prevención de Riesgos de Trabajo la Universidad Tecnológica y sus trabajadores deben colaborar en la Instauración y Operación de un Sistema de Administración de Seguridad y Salud en el Trabajo que incluya a nuestros alumnos y fomentar la Cultura de la Autoevaluación para cumplir con la Normatividad Laboral y propicie un Ambiente Libre de Accidentes y Enfermedades de Trabajo.
</p>




</main>
