---
import Logo from "./Logo.astro";
---

<main
  class="max-w-3xl px-4 m-auto dark:text-white z-30 h-full flex flex-col overflow-hidden relative pt-40 font-medium text-justify"
>
  <h1
    class="text-4xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Políticas de Privacidad
  </h1>

  <hr class="mb-10 bg-slate-400" />

  <p class="dark:text-slate-400 mb-3">
    Los datos personales (“los Datos”) publicados y solicitados por UNIVERSIDAD
    TECNOLOGICA DEL ESTADO DE ZACATECAS con domicilio en CARRETERA ZACATECAS, CD
    CUAUHTÉMOC KM 5, EJIDO CIENEGUITAS GUADALUPE ZACATECAS 98601. ; son con la
    finalidad de brindarle el servicio que nos solicita, conocer sus necesidades
    de productos o servicios y estar en posibilidad de ofrecerle los que más se
    adecúen a sus preferencias; comunicarle promociones, atender quejas y
    aclaraciones, y en su caso, tratarlos para fines compatibles con los
    mencionados en este Aviso de Privacidad y que se consideren análogos para
    efectos legales.
  </p>
  <p class="dark:text-slate-400 mb-3">
    En caso de formalizar con Usted la aceptación de algún servicio ofrecido por
    UNIVERSIDAD TECNOLOGICA DEL ESTADO DE ZACATECAS, sus Datos serán utilizados
    para el cumplimiento de las obligaciones derivadas de esa relación jurídica.
    Los Datos podrían ser transferidos a sociedades subsidiarias, filiales,
    afiliadas y controladoras de UNIVERSIDAD TECNOLOGICA DEL ESTADO DE
    ZACATECAS, dentro de territorio nacional sin un fin comercial, ni ilícito,
    sino únicamente para cumplir con los mismos fines establecidos en el párrafo
    anterior. Los Datos serán tratados de conformidad con la Ley Federal de
    Protección de Datos Personales en Posesión de los Particulares y su
    Reglamento (cuando este sea expedido).
  </p>
  <p class="dark:text-slate-400 mb-3">
    La confidencialidad de los Datos está garantizada y los mismos están
    protegidos por medidas de seguridad administrativas, técnicas y físicas,
    para evitar su daño, pérdida, alteración, destrucción, uso, acceso o
    divulgación indebida. Únicamente las personas autorizadas tendrán acceso a
    sus Datos.
  </p>
  <p class="dark:text-slate-400 mb-3">
    En caso de existir alguna modificación al presente Aviso de Privacidad se
    hará de su conocimiento en este mismo sitio de Internet. Podrá ejercer los
    derechos de acceso, rectificación, cancelación u oposición al tratamiento de
    sus Datos (derechos ARCO), presentando su solicitud a través del correo
    electrónico: contacto@utzac.edu.mx o por escrito dirigido al área de
    Atención de Datos Personales a la dirección CARRETERA ZACATECAS, CD
    CUAUHTÉMOC KM 5, EJIDO CIENEGUITAS GUADALUPE ZACATECAS 98601. Dicha
    solicitud deberá contener por lo menos: (a) nombre y domicilio u otro medio
    para comunicarle la respuesta a su solicitud; (b) los documentos que
    acrediten su identidad o, en su caso, la representación legal; (c) la
    descripción clara y precisa de los datos personales respecto de los que se
    solicita ejercer alguno de los derechos ARCO, (d) la manifestación expresa
    para revocar su consentimiento al tratamiento de sus datos personales y por
    tanto, para que no se usen; (e) cualquier otro elemento que facilite la
    localización de los datos personales. ¿Cuándo puede usted ejercer sus
    derechos ARCO? En términos de la LFPDPPP, a partir del 6 de enero de 2012,
    usted podrá iniciar el procedimiento de protección de derechos ARCO ante el
    Instituto Federal de Acceso a la Información y Protección de Datos
    Personales (IFAI) dentro de los 15 días siguientes a la fecha en que
    UNIVERSIDAD TECNOLOGICA DEL ESTADO DE ZACATECAS de respuesta a su solicitud
    o, si transcurrido el término que señala la Ley, UNIVERSIDAD TECNOLOGICA DEL
    ESTADO DE ZACATECAS no diera respuesta a su solicitud.
  </p>
</main>
