---
import Logo from "./Logo.astro";
---

<main
  class="max-w-3xl px-4 m-auto dark:text-white z-30 h-full flex flex-col overflow-hidden relative pt-40 font-medium text-justify"
>
  <h1
    class="text-4xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Tecnologías de la Información y Comunicación
  </h1>
  <h1
    class="text-3xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Area Sitemas Informaticos
  </h1>
  <hr class="mb-10 bg-slate-400" />

  <h1
    class="text-2xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Competencias Profesionales
  </h1>
  <p class="dark:text-slate-400 mb-3">
    Las competencias profesionales son las destrezas y actitudes que permiten al
    Técnico Superior Universitario desarrollar actividades en su área
    profesional, adaptarse a nuevas situaciones, así como transferir, si es
    necesario, sus conocimientos, habilidades y actitudes a áreas profesionales
    próximas.
  </p>

  <h1
    class="text-2xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Competencias genéricas
  </h1>
  <p class="dark:text-slate-400 mb-3">
    Capacidad de análisis y síntesis, habilidades para la investigación básica,
    las capacidades individuales y las destrezas sociales, habilidades
    gerenciales y las habilidades para comunicarse en un segundo idioma.
  </p>

  <h1
    class="text-2xl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    Competencias Especificas
  </h1>
  <p class="dark:text-slate-400 mb-3">
    1. Implementar aplicaciones de software, mediante técnicas de programación y
    considerando los requerimientos de la organización para lograr mayor
    eficiencia.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      1.1. Programar aplicaciones de software utilizando lógica de programación
      y lenguajes específicos, para resolver un problema determinado.
    </li>
    <li>
      1.2. Desarrollar Bases de datos relacionales mediante un análisis de la
      información y acorde a las necesidades de la organización para administrar
      la información.
    </li>
    <li>
      1.3. Desarrollar un sitio web ligado a una base de datos con herramientas
      de diseño web, un lenguaje de programación y un manejador de base de datos
      para publicar, recopilar y consultar información general de la
      organización y los usuarios.
    </li>
  </ul>

  <p class="dark:text-slate-400 mb-3">
    2. Implementar y realizar soporte técnico a equipo de cómputo, sistemas
    operativos y redes locales, de acuerdo a las necesidades técnicas de la
    organización, para garantizar el óptimo funcionamiento de sus recursos
    informáticos.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      2.1 Administrar sistemas operativos windows y basados en unix de acuerdo a
      las necesidades de la organización, utilizando los comandos propios del
      sistema, para el óptimo funcionamiento de los recursos informáticos.
    </li>
    <li>
      2.2. Proporcionar soporte técnico a equipo de cómputo y periféricos, de
      acuerdo al plan de mantenimiento y políticas de la organización para
      mantener el hardware en optimas condiciones operativas.
    </li>
    <li>
      2.3. Implementar una red local de acuerdo a estándares que garanticen su
      operatividad; para compartir recursos de tecnologías de información.
    </li>
  </ul>

  <p class="dark:text-slate-400 mb-3">
    3.Implementar sistemas de información de calidad, a través de técnicas
    avanzadas de desarrollo de software para eficientar los procesos de las
    organizaciones.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      3.1. Planear proyectos informáticos de acuerdo a los requerimientos de la
      organización, con técnicas de calidad de software; para que el proyecto se
      entregue en tiempo, forma y calidad.
    </li>
    <li>
      3.2. Desarrollar sistemas de información a través de lenguajes de
      programación; para automatizar procesos de la organización.
    </li>
  </ul>

  <p class="dark:text-slate-400 mb-3">
    4. Implementar y administrar sistemas manejadores de bases de datos acorde a
    los requerimientos de información de la organización.
  </p>

  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      4.1. Implementar servidores de bases de datos considerando las necesidades
      con que cuenta la organización; para el almacenamiento y procesamiento de
      la información.
    </li>
    <li>
      4.2. Administrar la estructura de la base de datos acorde a las
      necesidades de la organización y a los requerimientos del sistema de
      información; para asegurar su funcionamiento, seguridad e integridad.
    </li>
  </ul>

  <h1
    class="text-sl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    ESCENARIOS DE ACTUACIÓN
  </h1>

  <p class="dark:text-slate-400 mb-3">
    El Técnico Superior Universitario en Tecnologías de la Información y
    Comunicación área Sistemas Informáticos podrá desenvolverse en:
  </p>
  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>
      Empresas públicas y privadas dedicadas al desarrollo y consultoría de
      software.
    </li>
    <li>
      Empresas públicas y privadas cuyo fin no sea el desarrollo de software en
      funciones de análisis, diseño, implementación, evaluación y venta de
      Software.
    </li>
    <li>En su propia empresa de integración de soluciones de software.</li>
    <li>
      En los sectores público y social, así como de manera independiente en las
      diferentes ramas productivas que demanden servicios de Tecnologías de la
      información preferentemente en comercio electrónico y multimedia.
    </li>
    <li>
      En los sectores privado, público y social, en las diferentes ramas
      productivas que demanden servicios de Tecnologías de la Información.
    </li>
    <li>En forma independiente mediante consultorías de bienes y servicios.</li>
  </ul>

  <h1
    class="text-sl font-extrabold dark:text-slate-200 mb-3 divide-y divide-blue-200"
  >
    OCUPACIONES PROFESIONALES
  </h1>

  <p class="dark:text-slate-400 mb-3">
    El Técnico Superior Universitario en Tecnologías de la Información y
    Comunicación área Sistemas Informáticos podrá desempeñarse como:
  </p>
  <ul class="list-disc dark:text-slate-400 mb-3 ml-10">
    <li>Analista de Sistemas.</li>
    <li>Programador de Sistemas.</li>
    <li>Administrador de Base de Datos.</li>
    <li>Gestor de TI.</li>
    <li>Diseñador de sitios Web.</li>
    <li>Ingeniero de Pruebas.</li>
    <li>Técnico en soporte de Sistemas Informáticos.</li>
  </ul>

  <img
    class="my-3 rounded-lg mb-10 h-auto max-w-ful"
    src="../../public/programatsutic.avif"
    alt=""
  />
</main>
