<section class="  bg-black h-screen w-screen text-center overflow-hidden relative">

    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h3 class="text-white pt-40 text-3xl font-medium">Tecnologias de la Información</h3>
            <p class="text-white text-sm">En nuestra universidad, la carrera de Tecnologías de la Información te ofrece conocimientos punteros y experiencias prácticas <br> que potencian tu desarrollo profesional.</p>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="/tsutic">
                    Mas Información
                </a>
            </div>
        </footer>
    </div>


    <div class="absolute top-0 bottom-0 h-full z-10">
        <img class="brightness-75 h-full w-screen object-center object-cover " src="../../public/tic.avif" alt="">
    </div>
</section>